
#wrap{
  position: relative;
  min-width: 1440px;
}

#container{
  margin-top: -1px;
  border-top: 1px solid #cccccc;
  
}

.contents{
  min-height: 400px;
  padding: 0 0 80px 0;
}

.sub_content_category{
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 0 0;
}

#sidebar{
  background: #fff;
  float: left;
  width: 15%;
  height: 40px;
  border-bottom: 1px solid #000;
  margin: 0 0 20px 20px;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#cssmenu1{
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

#cssmenu1, #cssmenu1 ul, #cssmenu1 ul li, #cssmenu1 ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.sub_menu_box.tree_type ul{
  border: none 0;
}

.sub_menu_box .sub_depth0 {
  padding: 0;
  font-size: 0;
  vertical-align: top;
  border: none;
}

#cssmenu1 ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #000;
  content: "";
  transition: all 0.1s ease-out;
}

#cssmenu1 ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #000;
  content: "";
  transition: all 0.1s ease-out;
}

#cssmenu1 > ul > li > a {
  padding: 12px 0 10px 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background: #fff;
  transition: color .2s ease;
}

.sub_menu_box .sub_depth0 > li > a {
  display: block;
  padding: 0 10px 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.sub_menu_box.tree_type .sub_depth1{
  display: block;
  position: static;
  padding: 0 0 0 15px;
}

ul ul{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#cssmenu1 ul ul li a{
  padding: 9px 0 7px 15px;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  text-decoration: none;
  color: #343434;
  background: #fff;
  transition: color .2s ease;
}


.sub_menu_box .sub_depth1 li a{
  display: block;
  padding: 5px 10px 7px 19px;
  font-size: 12px;
}


.sub_menu_box .sub_depth1 > li > a{
  display: block;
  padding: 5px 10px 7px 19px;
  font-size: 12px;
}



.sub_content_category .content{
  width: 80%;
  min-height: 500px;
  padding: 0 0 0 15px;
  float: left;
}

.sub_content_category .location_wrap{
  margin: -25px 0 15px 0;
  border-bottom: none 0;
}

.location_wrap{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  background: #f9f9f9;
}

.location_wrap .location_cont{
  width: 98%;
  margin: 0 0 0 12px;
}


.location_cont em{
  display: block;
  float: left;
  padding: 12px 0 10px 0;
  color: #777777;
  font-size: 11px;
}

address, caption, cite, code, dfn, em, var{
  font-style: normal;
  font-weight: normal;
}

.location_cont .local_home{
  color: #777777;
}

.location_select{
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin: 7px 0 0 0;
  border: 1px solid #999999;
  z-index: 50;
}

.location_select .location_tit{
  background: url(	https://www.naturestore.co.kr/data/skin/front/the_living/img/etc/select_arrow_down_11x7.png) no-repeat right center;
}

.location_select .location_tit a {
  display: block;
  padding: 3px 32px 3px 9px;
  font-size: 11px;
}

.location_select ul{
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  width: 100%;
  margin-left: -1px;
  padding: 6px 0 6px 0;
  font-size: 0;
  border: 1px solid #999999;
  background: #ffffff;
}

.location_select ul li{
  padding: 4px 0 4px 9px;
}





.location_select ul li a {
  display: block;
  padding: 4px 5px 5px 10px;
  font-size: 11px;
}

.location_select ul li a span{
  display: inline-block;
}

.goods_list_item{
  position: relative;
  margin: 0 12px 0 12px;
}

.list_item_category{
  margin: 0 0 40px 0;
  padding: 3px 0 3px 0;
  border: 1px solid #d8d8d8;
}

.list_item_category ul{
  display: inline-block;
  width: 100%;
  padding: 0 20px 0 20px;
  font-size: 0;
}

.list_item_category li{
  display: inline-block;
  width: 20%;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}



.goods_pick_list .goods_pick_num{
  display: block;
  padding: 0 0 10px 0;
  font-size: 14px;
}

.goods_pick_list .goods_pick_num strong{
  color: #ab3e55;
}

strong{
  font-weight: bold;
}

.goods_pick_list .pick_list_box{
  height: 28px;
  margin: 0 0 20px 0;
  padding: 9px 0 10px 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #dbdbdb;
  clear: both;
}

.goods_pick_list .pick_list_box .pick_list{
  display: inline-block;
  float: left;
  padding: 0 0 0 10px;
}

.goods_pick_list .pick_list_box .pick_list li{
  float: left;
  margin: 0 20px 0 0;
  padding: 5px 0 0;
  background: #ffffff;
  position: relative;
}

.goods_pick_list .pick_list_box input{
  position: absolute;
  top: 3px;
  left: 1px;
  width: 0;
  z-index: -1;
}

input[type="radio"]{
  width: 13px;
  height: 13px;
  vertical-align: top;
}

.goods_pick_list .pick_list_box .pick_list label.on{
  color: #ab3e55;
  font-weight: bold;
  background: url(	https://www.naturestore.co.kr/data/skin/front/the_living/img/icon/goods_icon/icon_sort_check.png) no-repeat left 5px;
}

.goods_pick_list .pick_list_box .pick_list label{
  padding: 0 0 0 18px;
  background: #ffffff;
  cursor: pointer;
}

label{
  cursor: default;
}


.choice_num_view{
  float: right;
  padding: 0 10px 0 0;
}

.choice_num_view select{
  width: 120px;
}

select{
  height: 31px;
  color: #717171;
  vertical-align: top;
  outline: none;
}

input, select, textarea, button{
  vertical-align: middle;
}


.goods_list{
  padding-bottom: 30px;
}

.goods_list_cont{
  position: relative;
  width: 100%;
}

.goods_list_cont:after{
  display: block;
  clear: both;
  content: "";
}

.goods_list_cont ul{
  float: left;
  width: 100%;
  font-size: 0;
}

.goods_list_cont ul li{
  display: inline-block;
  position: relative;
  min-height: 50px;
  margin: 40px 0 0 0;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
}

.item_cont{
  padding: 0 10px;
  text-align: left;
  color: #1c1c1c; 
}

.item_photo_box{
  display: inline-block !important;
  text-align: left;
  border: 0px solid #ebebeb;
  vertical-align: middle;
  
  
  position: relative;
  overflow: hidden;
}

.item_photo_box a{
  overflow: hidden;
  display: block;
  height: 100%;
}

.item_photo_box a>img{
  border: none !important;
}

fieldset, img{
  border: 0 none;
  vertical-align: top;
}

.icon_time_sale{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.item_info_cont{
  padding: 20px 0 0 0;
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
}

.item_tit_box{
  padding: 0;
}

.item_tit_box .item_name{
  display: block;
  padding: 5px 0 0 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

.item_money_box{
  padding: 10px 0 0 0;
  line-height: 1;
}

.item_money_box .item_price{
  display: block;
  padding: 7px 0 5px 0;
  font-size: 14px;
  color: #333;
}

strong{
  font-weight: bold;
}
