
/* 헤더부분 전반적 */
#header {
    position:relative; 
    background:#0b0b0d;
}

/* 상단 로고 설정 */

#header .h1_logo {
    padding:30px 0 30px 40px;
}
#header .h1_logo img {
    width:210px;
}

/* 여기부턴 상단 검색창 설정 */
.top_member_box {
    float:right; 
    position:relative; 
    margin:0; 
    line-height:1; 
    z-index:150;
}

/* 검색창 틀 위치 */
#header .top_search {
    position: absolute;
    top: 25px;
    left: 35px;
    margin-left: 319px;
    background-color: #fff;
    z-index: 110;
}

/* 무슨 역할인지 모름 몰라 몰라. 없어도 될 거 같은데 냅둠 일단 */
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

/* 무슨역할인지 모르겠지만 legend글씨 숨겨줌 */
#header .top_search legend {
    display: none;
}


/* 검색창 내부 레이아웃 색깔 : 하얀바탕 */
#header .top_search .top_search_cont {
    background: #fff;
}

/* 검색창 깜빡이 디자인 */
#header .top_search .top_text_cont .top_search_text {
    width: 100%;
    height: 38px;
    padding: 5px 45px 5px 15px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 2px solid #000;
    color: #000;
}

/* 검색창 내부 레이아웃 크기 */
#header .top_search .top_text_cont input {
    border: none 0;
    vertical-align: top;
    font-size: 20px;
    font-weight: 600;
}
/* 검색창 내부 레이아웃 위치 */
#header .top_search .top_text_cont .btn_top_search {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* 여기부터는 상단 우측 메뉴 위 메뉴 */
.member_is {
    position: absolute !important;
    top: 41px;
    right: 40px;
    width: 600px;
    height: 29px;
}
.top_member_box {
    float: right;
    position: relative;
    margin: 0;
    line-height: 1;
    z-index: 150;
}
/* 상단 우측 메뉴 레이아웃 설정들 */
.top_member_box > li {
    float:left; 
    position:relative;
}
.top_member_box > li a {
    display:inline-block; 
    padding:4px 0 4px 15px; 
    color:#000; 
    font-size:12px;
}

.top_member_box > li .accent span, .top_member_box > li .accent strong {
    display:inline-block; 
    min-width:40px; 
    height:16px; 
    color:#ffffff; 
    font-size:11px; 
    letter-spacing:-1px; 
    line-height:16px;
	background:url("") no-repeat;
}
.top_member_box > li .accent {
    display:block; 
    overflow:hidden; 
    position:absolute; 
    left:50%; top:19px; 
    width:160px; 
    height:23px; 
    padding:6px 0 0 0;
    margin-left:-80px; 
    text-align:center; 
    z-index:40;
	background:url("") no-repeat -68px -44px;
}

/* 상단 전체의 색상 */
#header .header_search {
    background:#fff;        
    border-bottom:1px solid #404040;
}
#header .header_search_cont {
    min-height:90px;
}

/* 상단 메뉴바 높이 및 위치 설정 */
#header .gnb {
    position:relative;             /* 상대적 */
    height:50px;                   /* 메뉴바 높이 50px 제한 */
}

#header .gnb .gnb_all {
    display:inline-block; 
    vertical-align:top; 
    text-align:left;
}
#header .gnb_allmenu_wrap {
    display:inline-block;
}


/* gnb가 들어가는 박스 생성 후 설정 */
#header .gnb_menu_box {
    display:inline-block;       /* ? */
    vertical-align:top;         /* ? */
    width:100%;                 /* 100%만큼 공간생성 */
    margin-left:0px;            /* 왼쪽 여백 0px */
    margin-top:-21px;           /* 위의 여백 -21px */
}

/* depth0의 기본설정 */
#header .gnb .depth0 {
    font-size:0;                /*폰트 사이즈 없음*/
    vertical-align:top;         
    border:none; 
    overflow:hidden;            
    height:49px;                /* ? */
    float:right;                /* 우측에 붙도록 */
}

/* depth0 ul에 속한 li의 위치 설정 */
#header .gnb .depth0 > li {
    position:relative;          /* 포지션 상대값 */
    display:inline-block;       /* 내부 블럭 처리 */
    vertical-align:top;         /* ? */
    right:0;                    /* ? */
}

#header .gnb .depth0 > li > a {
    display:inline-block; 
    padding:0 30px; 
    min-width:70px; 
    font-size:12px; 
    font-weight:bold; 
    text-align:center; 
    line-height:50px; 
    color:#fff; 
    background:url('') left center no-repeat;
}
#header .gnb .depth0 > li:first-child > a {
    background:none;
}
#header .gnb .depth0 > li:hover > a {
    color:#ffdb00;
}

#header .gnb .depth0 > li:hover > ul {
    display: block;
}

/* depth1의 기본설정 */
#header .gnb .depth1 {              
    display:none;                    /* 처음엔 보이지않게 */
    position:absolute;               /* 포지션 절대값 */
    top:50px; left:0;                /* 위로부터 50px 밀기 */
    width:100%;                      /* 가로넓이 160px */
    background:rgba(0,0,0,.6);     /* 색: 블랙 투명도60% */
    z-index:100;                     /* 창이 가장 먼저보이게 z-index높게 설정(100정도면 제일 위에 보이겠지) */
}

/* depth1 ul에 속한 li의 위치 설정 */
#header .gnb .depth1 > li {
    position:relative;              /* 포지션 상대값 */
}

/* li 안의 a태그 설정 */
#header .gnb .depth1 > li > a {
    display: block;                 /* 블록으로 설정 */
    padding:5px 10px 7px 19px;      /* 패딩 설정 */
    font-size:12px;                 /* 글씨 크기 설정 */
    color:#e7e7e7;                /* 글씨 기본 색: 하양 */
}

/* li 안의 a태그 블럭에 마우스 올릴시 */
#header .gnb .depth1 > li > a:hover {
    background:#545454;           /* 블럭 배경 색깔 변경: 회색 */
    color:#ffffff;                /* 글씨 색깔 변경: 하양색(아주 약간 더 밝게) */
}

/* depth1의 ul 블럭으로 보이게 설정 */
#header .gnb .depth1 > li:hover > ul {
    display: block;
}

/* depth2의 기본설정 */
#header .gnb .depth2 {
    display:none;                   /* 처음엔 보이지않게 */
    position:absolute;              /* 포지션 절대값 */
    top:0; left:100%;               /* 100% 밀기 */
    width:160px;                    /* 가로넓이 160px */
    background:rgba(0,0,0,.6);    /* 색: 블랙 투명도60% */
    z-index:100;                    /* 창이 가장 먼저보이게 z-index높게 설정(100정도면 제일 위에 보이겠지) */
}

/* depth2 ul에 속한 li의 위치 설정 */
#header .gnb .depth2 > li {
    position: relative;             /* 포지션 상대값 */
}

/* li 안의 a태그 설정 */
#header .gnb .depth2 > li > a {
    display: block;                 /* 블록으로 설정 */
    padding:5px 10px 7px 19px;      /* 패딩 설정 */
    font-size:12px;                 /* 글씨 크기 설정 */
    color:#e7e7e7;                /* 글씨 기본 색: 하양 */
}

/* li 안의 a태그 블럭에 마우스 올릴시 */
#header .gnb .depth2 > li > a:hover {
    background:#545454;           /* 블럭 배경 색깔 변경: 회색 */
    color:#ffffff;                /* 글씨 색깔 변경: 하양색(아주 약간 더 밝게) */
}

/* depth3의 ul 블럭으로 보이게 설정 */
#header .gnb .depth2 > li:hover ul {  
    display: block;
}

/* depth3의 기본설정 */
#header .gnb .depth3 {              
    display:none;                   /* 처음엔 보이지않게 */
    position:absolute;              /* 포지션 절대값 */
    top:0; left:100%;               /* 100% 밀기 */
    width:160px;                    /* 가로넓이 160px */
    background:rgba(0,0,0,.6);    /* 색: 블랙 투명도60% */
}

/* depth3 ul에 속한 li의 위치 설정 */
#header .gnb .depth3 > li {
    position: relative;             /* 포지션 상대값 */
}

/* li 안의 a태그 설정 */
#header .gnb .depth3 > li > a {     
    display: block;                 /* 블록으로 설정 */
    padding:5px 10px 7px 19px;      /* 패딩 설정 */
    font-size:12px;                 /* 글씨 크기 설정 */
    color:#e7e7e7;                /* 글씨 기본 색: 하양 */
}

/* li 안의 a태그 블럭에 마우스 올릴시 */
#header .gnb .depth3 > li > a:hover {
    background:#545454;           /* 블럭 배경 색깔 변경: 회색 */
    color:#ffffff;                /* 글씨 색깔 변경: 하양색(아주 약간 더 밝게) */
}


/* 기본 페이지 설정 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
    margin:0;
    padding:0
}
dl,ul,ol,li {
    list-style:none
}
body {
    background:#fff
}
body,th,td,input,select,textarea,button {
    font-family:'Montserrat', sans-serif, 'Noto Sans KR', Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움"; 
    font-size:14px; 
    color:#000; 
    font-weight: 400; 
    line-height: 1.5;
}
a {
    color:#333;
    text-decoration:none;
}
a:active, a:hover {
    text-decoration:none;
}
address,caption,cite,code,dfn,em,var {
    font-style:normal;
    font-weight:normal;
}

/*추가*/

div{
    display: block;
}

fieldset, img{
    border: 0 none;
    vertical-align: top;
}